<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalDepartment.Properties.Settings.HospitalDepartmentConnectionString"
            connectionString="Data Source=Asus\SqlExpress;Initial Catalog=HospitalDepartment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>